*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #000000; /* Set the background color to black */
    color: #ffffff; /* Set the text color to white */
    
}

#header{       /*we use hash tag because it is an ID --hash tag eka nthuwa image eka penne na*/
    width: 100%;
    height: 100vh; 
    background-image: url(images/front\ new\ 1.jpeg);  /*folder name ekath ekka image name eka ghnna one*/
    background-size: cover; 
    background-position:center;
    text-shadow: 2px 2px 4px #000000; /* Add a white border to the text */
}
.container{
    padding: 10px  10px;      /*top and bottom --left and right*/ 
}

nav{
    display:flex;  /*the image and links will be side by side----- harahata home about.... tika watena eka*/
    align-items: center;   
    justify-content: space-between;  /* nav bar eke home about ..... e tika athara space eka thyla hadana eka */
    flex-wrap: wrap;
}
.logo{
    width: 140px;
    
    /*margin: 10px;*/
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:#ffffff ;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;     /*meka 0 kroth menu bar eke underline eka nathi wela ynwa*/
    height: 3px;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{    /*menu bar ekta cursor eka aran yddi irak andena eka mekta transition ekk kalin tag eka add krnwa*/
    width: 100%;
}
.header-text{    /*text eka ux/ui desig.....*/
    margin-top: 30%;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000; /* Add a white border to the text */
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #00a78e;
    text-decoration-color: red;
    
}
/*----------------about-------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;   /*img eka wenas wnw*/
}
.about-col-1 img{
    width: 100%;border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;   /* about content eka */
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{                        /*skills,exper..,edu.. e tika hduwe*/
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position:relative ;
}
.tab-links::after{
    content: '';
    width: 0;    /* 0 denne hidden krnna */
    height: 3px;
    background: #00A78E;
    position: absolute;                     
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{     /*about eka yata thyna description eke stylish part eka*/
    color: #4b9c90;
    font-size: 14px;
}
.tab-contents{      /*skills wlta one nthi ewa hide wnw*/
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ----------------------services------------------ */   
#services{
    padding: 30px 0;
}
.services-list{    /*grid ekk wdhata hduna eka*/
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{   /* services wla kotuwa*/
    background: #262626; 
    padding: 40px; 
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;  /*services wala kotu wala wata raum kra*/
    transition: background 0.5s,transform 0.5s;
}
.services-list div i{   /* icon increase wenwa*/
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{    /*sub title eka*/
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{     /*  links      */
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{    /* about eke clr change wena eka*/
    background: #00A78E;
    transform:translateY(-10px);
}
/* ------------portfolio------ */
#portfolio{
    padding: 50px 0; 
}
.work-list{     /*photo tika grid ekk wdhta wtenne meken*/
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{     /*photo athare parathare hadila coner eka round wenne methnin*/
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;    /*pop up wela pena seen eka */
}
.layer{
    width: 100%;
    height: 0;                    /* clr eka invisible una 0 krta passe*/
    background: linear-gradient(rgba(0,0,0,0.6),#00A78E);
    border-radius: 10px;
    position: absolute; 
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #00A78E;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);    /*pop up wela pena time eka*/
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;           /*see mor kyna kalla*/
    width: fit-content;                
    border: 1px solid #00A78E;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s ;
}
.btn:hover{
    background: #00A78E;
}
/* --------------------contact----------------------- */
.contact-left{       /* contact eke left side eka */
    flex-basis: 35%;
}
.contact-right{     /* form eka paththa*/
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;  
}
.contact-left p i{      
    color: #00A78E;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{          /* contacts wla icon red clr wena eka*/
    color: #00A78E;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;        /* downld and submit butten eka*/
    background: #00A78E;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;                     /* form eka athule bars tika name email massege seen eka*/
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #00A78E;
}
#msg{
    color: #15e4eb;
    margin-top: -40px;
    display: block;
}
#msg i{
    color: #00A78E;
}
/* ------------------------css for small screen--------------------- */
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/front\ new\ 1.jpeg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #00A78E;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 14px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
